{% extends 'base.html' %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-12">
      <p>
        Данный сервис предоставляет публичное API, позволяющее получить информацию о
        топ-10 фильмах с самым высоким рейтингом, идущих сегодня в кинотеатрах Москвы,
        в формате JSON. Для этого необходимо обратиться по адресу
        <a href="/api/top-rated-movies">/api/top-rated-movies</a>
      </p>
      <p>Формат ответа:</p>
      <pre>
        {
            "top_rated_movies_info": [
                {
                    "afisha_url": ...,
                    "age_restriction": ...,
                    "country": ...,
                    "description": ...,
                    "duration": ...,
                    "name": ...,
                    "rating": ...,
                    "screenshot_url": ...,
                    "votes": ...,
                    "year": ...
                },
                ...
            ]
        }
      </pre>
      <ul>
        <li><b>afisha_url</b> - ссылка на Афиша.ру с информацией о фильме</li>
        <li><b>age_restriction</b> - возрастные ограничения</li>
        <li><b>country</b> - страна производства</li>
        <li><b>description</b> - описание фильма</li>
        <li><b>duration</b> - продолжительность фильма</li>
        <li><b>name</b> - название фильма</li>
        <li><b>rating</b> - рейтинг фильма на Кинопоиск.ру</li>
        <li><b>screenshot_url</b> - ссылка на скриншот из фильма</li>
        <li><b>votes</b> - количество голосов на Кинопоиск.ру</li>
        <li><b>year</b> - год производства</li>
      </ul>
    </div>
  </div>
{% endblock %}
